li {
  cursor: pointer;
}

nav {
  padding: 10px 10px 10px 0;
  background-color: #f1f1f1;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

nav li {
  text-transform: capitalize;
  padding-left: 15px;
}

nav li.active {
  text-decoration: underline;
}